*.clinic-doctor
*.iml
*.log
*.pid
*.seed
.DS_Store
.__tests__
.atomignore
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.scannerwork
.sonar
.vscode
.yalc
api/swagger/swagger.yaml
bower_components
build
clover.xml
coverage
dist
jest.json
jspm_packages
lcov-report
lcov.info
lerna-debug.log
lib-cov
logs
node_modules
npm-debug.log*
pids
yalc.lock
!**/__mockdata__/node_modules
!**/__mockdata__/node_modules/**/dist
